*,
html, body {
    margin: 0;
    padding:0;
}

body {
    background-color: white;
    color: black;

}

.dark{
    background-color: black;
    color: white;
}


.word-container {
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items:center;
}

.square {
    position: absolute;
    background-color: #444;
    left: 2%;
    padding: 20px;
    border-radius: 50px/100%;
    font-size: 20px;
}

.WordTL {
    color: white;
}

.square:hover {
    background-color: #999;
    transition: .2s ease-in-out;
    transition-delay: .2s ;
    border-radius: 50px/100%;
    padding: 20px;

}

.ul-navbar {
    display:flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color:#333;
}

.home-navbar{
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    font-size: 25px;
}

.B-pack {
  color:white;
  text-decoration: none;

}

.B-pack:hover{
    background-color:#999;
    transition: .1s ease-in-out;
    transition-delay: 0s ;
    border-radius: 50px/100%;
    padding:17px;

}


.abtm-navbar {  
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    font-size: 25px;
}

    
.A-pack {
  color:white;
  text-decoration: none;
  

}

.A-pack:hover {
    background-color:#999;
    transition: .1s ease-in-out;
    transition-delay: 0s ;
    border-radius: 50px/100%;
    padding:17px;
    
}



.kata {
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 35px;
    background-color:   rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

nav{
    position: fixed;
    bottom: 0;
    background-color:#333;
    width: 100%;
    padding: 5px;
}

nav a{
    color:rgb(255, 255, 255);
    padding:10px;
    margin:10px;
    text-decoration: none;
    font-weight: 700;   
    border: 3px solid;
    border-radius: 20px/50%;
    background-color: #333;
}


nav a:hover{
    background-color: #999;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color .2s ease-in-out;
    padding:15px;
}

.img{
    justify-content: center;
    align-items: center;
    display: flex;
}

.kataaa {
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.login-navbar{
    list-style: none;
    position: absolute;
    right: 1px;
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    top: 1px;
}


.c-pack {
  color:white;
  text-decoration: none;
  padding: 5px;

}

.c-pack:hover{
    background-color:#1d1d1d;
    transition: .1s ease-in-out;
    transition-delay: 0s ;
    border-radius: 10px;
}