*,
html, body {
    margin: 0;
  padding: 0;
}

/* @media (min-width: 992px) {
    #myVideo{ 
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 150vh;
        object-fit: cover;
        overflow: hidden;
        z-index: -10;
}} */

body{
    /* padding-top: 10px; */
    /* background-image: url("BP.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    /* height: 10%; */
    /* background-position: center 80px; */
    /* min-height: 100%; */
    /* overflow: hidden; */
    /* z-index:-10;  */
      /* z-index: -1; */
  overflow: hidden

}

/* .Bgw {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.bgI{
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center top;
} */

.BgW {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('BP.jpg');
    background-size: 100% 90%; /* atau cover */
    background-repeat: no-repeat;
    background-position: center 80px;
    z-index: -1;

}


.dark{
    background-color: black;
    color: white;
}

.word-container {
    background-color: #fafcff;;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.ul-navbar {
    /* transform: translate(-50%, -50%); */
    display:flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
}

.home-navbar{
    /* transform: translate(-50%, -50%); */
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    font-size: 30px;
}

.B-pack {
    /* transform: translate(-50%, -50%); */
    color:#b0cbe8;
    text-decoration: none;
    /* display: relative; */
}

.B-pack:hover{
    background-color:#ffffff;
    transition: .1s ease-in-out;
    transition-delay: 0s ;
    border-radius: 50px/100%;
    padding:17px;

}

.abtm-navbar {  
    list-style-type: none;
    padding: 15px;
    margin: 5px;
    font-size: 25px;
    width: 100%;
}


.A-pack {
color:white;
text-decoration: none;
}

.A-pack:hover {
    background-color:#999;
    transition: .1s ease-in-out;
    transition-delay: 0s ;
    border-radius: 50px/100%;
    padding:17px;
    
}

.login-navbar{
    list-style: none;
    position: absolute;
    right: 1px;
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    top: 1px;
}



.c-pack {
    color:white;
    text-decoration: none;
    padding: 5px;

}

.c-pack:hover{
    background-color:#999;
    color:rgb(255, 255, 255);
    transition: .1s ease-in-out;
    transition-delay: 0s ;
    border-radius: 10px;
}




.kata {
    display:flex;
    justify-content: center;
    align-items:center;

}

/* desktop -------------------------------------------------------------------------------------------------------- */
@media (min-width: 992px) {
  .kata2 {
    font-size: 38px;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    /* Shadow teks */
    text-shadow: 2px 2px x 4px rgb(0, 0, 0);
    /* Garis hitam di sekitar huruf (outline efek) */
    -webkit-text-stroke: 0.29px rgb(255, 255, 255); /* Untuk browser berbasis WebKit */
    text-align: center;
  }
  .ButAsk{
    display: flex;
    /* height:800px; */
    height:130%;
    justify-content: center;
    align-items: center;
    /* background-color:#333; */
  }
  .ask{
    position: relative;
    list-style-type: none;
    padding: 5px;
    margin:2px;
    font-size: 15px;
  } 
  .askB{
    font-size: 160%;
    display: relative ;
    color:rgb(255, 255, 255); 
    text-decoration: none;
  }
  .askB:hover{
    color:#b0cbe8;
    background-color: rgb(255, 255, 255);
    transition: .1s ease-in-out;
    border-radius: 50px/100%;
    padding:10px;
  }
  .askB:active{
    color:#b0cbe8;
    background-color: rgb(255, 255, 255);
    transition: .1s ease-in-out;
    border-radius: 50px/100%;
    padding:10px;
  }
}

/* mobile --------------------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
  .kata2 {
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Shadow teks */
    text-shadow: 2px 2px x 4px rgb(0, 0, 0);
    /* Garis hitam di sekitar huruf (outline efek) */
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Untuk browser berbasis WebKit */
    text-align: center;
  }
}

nav{
    position: fixed;
    bottom: 0;
    background-color:#333;
    width: 100%;
    padding: 5px;
}

nav a{
    color:#fff;
    padding:10px;
    margin:10px;
    text-decoration: none;
    font-weight: 700;   
    border: 3px solid;
    border-radius: 20px/50%;
    background-color: #333;
}

nav a:hover{
    background-color: #999;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color .2s ease-in-out;
    padding:15px;
}

input{
    position: absolute;
    right: 10%;
    border-radius: 5px;
    font-family: monospace ;
    font-size: 125%;
    bottom: 2px;

}

label{
    font-family: monospace;
    position: absolute;
    right: 26%;
    color: white;
    font-size: 135%;
    bottom:2px;

}

button{
    background-color: white;
    right: 5%;
    position:absolute;
    bottom: 2px;
    font-size: 15px;
    border-radius: 15px/30%;
    padding:1px;
}

button:hover{
    background-color: #dcdcdc;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

button:active{
    background-color:#333;
    color:white;
    transform:scale(0.95);
}

#notificat {
    position:fixed;
    bottom:50px;
    right:40px;
    font-size: 20px;
    background-color: #333;
    color: white;
    transition: 2s;
    display: none;
    border-radius: 15px/25%;
    padding: 4px;
}



.square {
    position:absolute;
    background-color: #444;
    left: 5%;
    padding: 10px;
    border-radius: 20px/40%;
    font-size: 20px;
}   

/* .WordTL {
    color: white;
} */

.square:hover {
    background-color: #999;
    transition: .2s ease-in-out;
    transition-delay: .2s ;
    border-radius: 20px/40%;
}